.calendar {
  &Item {
    @media(max-width: 991px) {
      margin-bottom: 14px;
    }

    .air-datepicker {
      border-radius: 12px;
      border: 1px solid #0039A6;
      border-right: none;
      width: 100%;
      font-family: $font-family;

      @media(max-width: 991px) {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
      }

      &-nav {
        background: #FFC700;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        column-gap: 8px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-right: 1px solid #0039A6;
        border-bottom: none;

        @media(max-width: 1400px) {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        &--title {
          color: #0039A6;
          font-family: 'Montserrat';
          font-size: 18px;
          font-weight: 800;
          letter-spacing: 0.54px;
          padding-left: 0;
          padding-right: 0;

          @media(max-width: 1400px) {
            font-size: 16px;
          }

          @media(max-width: 1199px) {
            font-size: 12px;
            letter-spacing: 0.36px;
          }

          &:hover {
            background-color: transparent;
          }

          i {
            color: #0039A6;
          }
        }

        &--action {
          &:hover {
            background-color: transparent;
          }
        }
      }

      &-body {
        &--day {
          &-name {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            border-right: 1px solid #0039A6;
            height: 32px;
            border-top: 1px solid #0039A6;

            @media(max-width: 1400px) {
              font-size: 16px;
            }

            @media(max-width: 1199px) {
              font-size: 12px;
            }
          }

          &-names {
            margin-bottom: 0;
            margin-top: 0;

          }
        }

        &--cells {
          &.-days- {
            grid-auto-rows: 41px;
          }
        }
      }

      &-cell {
        border-radius: 0;
        border-right: 1px solid #0039A6;
        border-top: 1px solid #0039A6;
        font-weight: 700;
        font-size: 20px;
        color: #000;

        @media(max-width: 1400px) {
          font-size: 16px;
        }

        @media(max-width: 1199px) {
          font-size: 12px;
        }

        &:last-child {
          border-bottom-right-radius: 12px;
        }

        &.-selected- {
          background-color: #FFC700;
        }
      }

      &--content {
        padding: 0;
      }
    }
  }
}